.App {
  font-family: sans-serif;
  text-align: center;
  width: min(98vw, 98vh);
  height: min(98vw, 98vh);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
html * {
  padding: 0px;
}

#root {
  overflow: hidden;
}

.img1 {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("https://user-images.githubusercontent.com/40990488/96757099-a7de5c80-13dd-11eb-8db8-5803ca708b87.jpg");
}
