.App {
  font-family: sans-serif;
  text-align: center;
  width: 98vw;
  /* height: 98vh;

  width: 100vw; */
  height: 100vh;

  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  padding: 0px;
}
html * {
  padding: 0px;
}
